*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    border: 2px solid red;
    padding: 1rem;
    justify-content: space-between;
}

.logo{
    height: 20px !important;
    width: 30px !important;
}

.search{
    display: flex;
    height: 1rem;
}
.search-icon{ 
    height: 100%;
    width: 100%;
}
