*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        background-image: url(icons/boho-bg.jpg);
        background-size: cover;
}

.header{
    display: flex;
    border: 2px solid red;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;

}

.left_header{
    display: flex; 
    width: 50rem;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 2rem !important;
    width: 3rem !important; 
    
}
.search{
    display: flex;
    height: 2rem;
    width: 40rem;
}

.search-icon{ 
    height: 100%;
    width: 100%;
    background-color: rgb(247, 219, 169);
    border-radius: 8px;
    border-width: 0px;
}

.searchInput{
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
}

.headerBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    color: rgb(145, 39, 39);
}

.hover:hover{
    cursor: pointer;
    /* color: rgb(244, 244, 244); */
    /* background-color: rgb(145, 39, 39); */
    text-shadow: 0 0 3px #FF0000;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

.dpIcon{
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    height: 2rem;
    width: 2rem;
}