body {
  font-family: var(--fontMedium);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* ---- HEADER START  ---- */

.header {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid tan;
  background-color: rgb(244, 81, 30, 0.3);
}

.left_header {
  display: flex;
  width: 50rem;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 2rem !important;
  width: 3rem !important;
}
.search {
  display: flex;
  height: 2rem;
  width: 80%;
}

.search button {
  border: 2px solid rgb(142, 115, 81);
  background-color: rgba(247, 219, 169, 0.2);
  border-radius: 8px;
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.search-icon {
  height: 100%;
  opacity: 0.8;
}

.searchInput {
  padding: 10px;
  border: 2px solid rgb(142, 115, 81);
  border-radius: 8px;
  border-right-width: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  outline: none;
}

.headerBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13rem;
  color: rgb(145, 39, 39);
}

.inup {
  text-decoration: none;
  padding: 0.3em;
  transition: all 0.3s linear;
  color: rgb(119, 10, 10);
  border-radius: 6px;
  background-color: rgb(255, 245, 227);
}

.inup:hover {
  background-color: var(--brown);
  border-radius: 7px;
  border: none;
  color: white;
  text-align: center;
  opacity: 0.6;
}

.profileSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(195, 35, 35);
  margin: 2px; */
  border-radius: 5px;
}

a {
  cursor: pointer;
}

.hov {
  padding: 0.3em;
  transition: all 0.3s linear;
}

.hov:hover {
  background-color: var(--brown);
  border-radius: 7px;
  border: none;
  color: white;
  text-align: center;
  opacity: 0.6;
}
/* 
.dropdown_img {
  height: 1rem;
  display: flex;
  align-items: center;
}

.dropdown_img:hover {
  background-color: #ffffff;
  border-radius: 50%;
  filter: invert(100%);
}

.dropdownList {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: rgb(228, 183, 173);
  z-index: 1;
  right: 0;
  margin: 5px 8px 0px 0px;
  transition: all 0.5s linear;
  border-radius: 4px;
}

.dropdownList a {
  text-decoration: none;
  color: black;
  padding: 12px 16px;
  text-align: left;
}

.dropdownList a:hover {
  background-color: #ddd;
} */

/* .dropdown:hover .dropdownList {
  display: flex;
} */

.dropdown{
  background-color: rgb(255, 195, 179); 
}

.headerBtns button {
  border-width: 0px;
}

.search-icon:hover {
  opacity: 0.9;
}

.dpIcon {
  height: 3rem;
  width: 3rem;
  /* filter: invert(100%); */
}

/* ---- HEADER END  ---- */

/* ---- NAVBAR START  ---- */

nav > ul {
  background-color: var(--brown);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin: 0;
}

nav a {
  text-decoration: none;
}

nav ul li {
  list-style: none;
}

.nav_item {
  background-color: var(--brown);
  color: #ffffff;
  padding: 1rem;
}

.nav_item:hover {
  color: rgb(227, 178, 153);
}

.submenu, .submenu2{
  padding-left: 0 !important;
}

.submenu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(228, 183, 173);
  z-index: 1;
  margin-top: 15px;
}

.submenu li {
  color: black;
  padding: 12px 16px;
  text-align: left;
  border-left: 2px solid rgb(228, 183, 173);
}

.submenu li a {
  color: black;
}

.submenu {
  position: absolute;
  display: none;
}

.submenu li:hover {
  color: white;
  border-left: 2px solid rgb(132, 42, 42);
}

.submenu li:hover a {
  color: white;
}

nav ul li:hover > .submenu {
  display: block;
}

.submenu2 {
  background-color: rgb(230, 202, 195);
  position: absolute;
  left: 100%;
  display: none;
}

.submenu2 a {
  color: black !important;
}

.submenu li:hover > .submenu2 {
  display: block;
}
.submenu2 li:hover {
  background-color: rgb(228, 183, 173) !important;
}

/* ---- NAVBAR END  ---- */


/* ---- 1st PAGE START  ---- */


.page1 {
  background: linear-gradient(90deg, rgb(154, 56, 49) 0%, rgb(255, 184, 156) 100%);
  height: 75vh;
}

.offerImg {
  width: 60%;
  padding: 4rem;
  margin-left: 3rem;
}

.shopnowBtn {
  display: flex;
  justify-content: center;
}

.shopnow {
  margin-right: 3rem;
}

/* .........Carousel......... */

.carouselContainer {
  margin-top: 4rem;
  width: 50%;
}

.carouselContainer>h5 p {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}


.cart:hover {
  filter: invert(100%);
}

.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
  position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

/* .........Cards......... */

.cardImg {
  aspect-ratio: 2/2;
}

.cardsHeading {
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
}
.cardsHeading:before, .cardsHeading:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.cardsHeading:before {
  margin-right: 10px
}
.cardsHeading:after {
  margin-left: 10px
}


/* ---- 1st PAGE END  ---- */


/* ---- FOOTER START  ---- */

.footer{
  background-color: var(--brown);
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLogo {
  width: 10%;
  padding-bottom: 0.5rem;
}

.footerIcons {
 width: 2rem;
 aspect-ratio: 2/2;
 filter: invert(100%);
}

.footerIcons:hover {
  cursor: pointer;
}

.footerPara:hover {
  cursor: pointer;
}

.footerText {
  color: white;
  font-size: smaller;
}

.footerTitle {
  color: white;
  font-size: small;
}

.footerAnchor {
  text-decoration: none;
}

.footerInput {
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid;                      /*  removes border of input boxes  */
  outline: none;                          /*  removes outline of input boxes  */
  border-bottom: 1px solid rgba(255, 255, 255, 0.453);
  caret-color: rgba(255, 255, 255, 0.749); /* changes the color of caret */
  color: white;
}

.footerInput::placeholder{
  color: rgba(255, 254, 254, 0.606);
}

.footerInput, select, textarea{
  color: #ffffff;
}

/*  https://copy-paste-css.com/  */
.footerButton {
outline: 0;
grid-gap: 8px;
align-items: center;
background: 0 0;
border: 1px solid #000;
border-radius: 4px;
cursor: pointer;
display: inline-flex;
flex-shrink: 0;
font-size: 16px;
gap: 8px;
justify-content: center;
line-height: 1.5;
overflow: hidden;
padding: 12px 16px;
text-decoration: none;
text-overflow: ellipsis;
transition: all .14s ease-out;
white-space: nowrap;
}
.footerButton:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}
.footerButton:focus-visible{
    outline-offset: 1px;
}


/* ---- FOOTER END  ---- */

