body {
    font-family: var(--fontMedium);
    /* background-image: url(assets/Images/signup2_bg.png); */
    background-size: cover;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    border: 2px solid rgb(117, 80, 67);
    padding: 20px;
    background-color: rgba(158, 102, 80, 0.828);
    border-radius: 1rem;
    /* background-image: url(icons/logsign.jpg); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 99vh;
  }
  label,
  p {
    color: white;
  }
  .signup_input {
    padding: 0.5rem;
    /* background-color: ; */
    border: 1px solid rgb(117, 80, 67);
    border-radius: 5px;
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .btns {
    background-color: rgb(110, 71, 56);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(117, 80, 67);
    color: white;
    transition: all 0.3s linear;
    width: 20rem;
    margin: 0.3rem;
  }

  .heading {
    /* border: 1px solid rgb(117, 80, 67); */
    color: rgb(255, 255, 255);
    padding: 4px 8px;
    background-color: rgba(117, 80, 67, 0.5);
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-bottom: 0.5rem;
  }
  .form{
    padding-top: 1rem;
  }

  .btns:hover {
    cursor: pointer;
    background-color: rgb(156, 115, 99);
    color: rgb(255, 255, 255);
  }

  .existing_user {
    padding-top: 10px;
    color: rgb(115, 142, 171);
    text-shadow: 2px 2px 4px #151a44;
    text-decoration: none;
  }

  .remember_me {
    margin-top: 1rem;
  }

  .bycreating {
    margin: 0.3rem;
  }

  @media screen and (max-width: 488px){
    
    .container{
      width:fit-content;
      margin: 0;
      border-radius: 0;
    }
    body {
      margin: 0;
    }
  }
  @media screen and (max-width: 360px){
    .signup_input{
      width: 13rem;
    }
    .btns{
    width: 13rem;
    }
  }

  